In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
from scraping import Dbase
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = Dbase()
df1 = data.imdb_requests()

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   titles         250 non-null    object
 1   genre1         250 non-null    object
 2   genre2         250 non-null    object
 3   genre3         250 non-null    object
 4   nb_genres      250 non-null    int64
 5   released_year  250 non-null    int64
 6   director1      250 non-null    object
 7   director2      250 non-null    object
 8   director3      250 non-null    object
 9   nb_directors   250 non-null    int64
 10  grade          250 non-null    float64
 11  votes          250 non-null    int64
 12  gross(M$)      250 non-null    float64
dtypes: float64(2), int64(4), object(7)
memory usage: 25.5+ KB

In [ ]:
df1.head(16)

                                               titles  ... gross(M$)
0                            The Shawshank Redemption  ...     28.34
1                                       The Godfather  ...    134.97
2                                     The Dark Knight  ...    534.86
3                              The Godfather: Part II  ...     57.30
4                                        12 Angry Men  ...      4.36
5       The Lord of the Rings: The Return of the King  ...    377.85
6                                        Pulp Fiction  ...    107.93
7                                    Schindler's List  ...     96.90
8                                           Inception  ...    292.58
9                                          Fight Club  ...     37.03
10  The Lord of the Rings: The Fellowship of the Ring  ...    315.54
11                                       Forrest Gump  ...    330.25
12                     The Good, the Bad and the Ugly  ...      6.10
13              The Lord of the Rings: The Two Towers  ...    342.55
14                                         The Matrix  ...    171.48
15                                         Goodfellas  ...     46.84

[16 rows x 13 columns]